<html lang="en">
<body>

<label >Your ID:</label><br>
{{ data[1] }}<br>
<label >their ID:</label><br>
{{ data[2] }}<br>
<label >Your pledge:</label><br>
{{ data[3] }}<br>
<label >Their Pledge:</label><br>
{{ data[4] }}<br>
<label >You accepted:</label><br>
{{ data[5] }}<br>
<label >they accepted:</label><br>
{{ data[6] }}<br>

{% if data[5] == "No"%}
<form action="{{ url_for('AcceptContract') }}" method="POST">
  ACCEPT THE CONTRACT ?<br>
<input type="checkbox" id="approve" name="approve" value="I accept this Agreement"><br>
<button type="submit" form="form1" class= "btn btn-secondary" >Finalise Choice</button>
</f
{%else %}
 You have already agreed to this contract
{% endif %}

</body>
</html>