<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Order</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}" >
</head>
<body>
    <section class="showcase">
        <header>
            <h2 class ="logo">DMS-Net</h2>
            <ul class="nav_links">
                <li><a href="#" title="">Dashboard</a></li>
                <li><a href="CreateContract1.html" title="">Place Order</a></li>
                <li><a href="#" title="">Search</a></li>
                <li><a href="#" title="">Chat</a></li>
                <li><a href="#" title="">My Profile</a></li>
            </ul>
        </header>
        <div class="overlay"></div>
        <video src="{{ url_for('static', filename='BGVID.mp4') }}" muted loop autoplay></video>
        <div class="container-view">
            <div class='myform-view'>
                <h2>Order Details</h2>
                <h3>Order Id  :    {{ data[0] }}</h3>
                <h3>Your ID  :     {{ data[2] }}</h3>
                <h3>Your Order  : {{ data[3] }}</h3>
                <h3>Price Qouted  : {{ data[4] }}</h3>
                <h3>Order Status  : {{ data[5] }}</h3>               
            </div>
            <div class="image-view">
                <img src="{{ url_for('static', filename='Login.gif') }}" width=400px">
            </div>
        </div>
        </section>
        
    
</body>
</html>