<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Order</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}" >
</head>
<body>
    <section class="showcase">
        <header>
            <h2 class ="logo">DMS-Net</h2>
            <ul class="nav_links">
                <li><a href="{{url_for('dashboard') }}" title="">Dashboard</a></li>
                <li><a href="#" title="">My Profile</a></li>
                <li><a href="{{url_for('logout') }}"  title="">Logout</a></li>
            </ul>
        </header>
        <div class="overlay"></div>
        <video src="{{ url_for('static', filename='BGVID.mp4') }}" muted loop autoplay></video>
        <div class="sidebar">
            <div class="spacer"></div>
            <ul >
                <li><h4>Hello, {{type}}</h4></li>
                <li><a href = '/CreateContract/" "'>Place Order</a></li>
                <li><a href="{{url_for('listing') }}">Search</a></li>
                <li><a href="#">Chat</a></li>
            </ul>
        </div>
        <div class="overlay"></div>
        <video src="{{ url_for('static', filename='BGVID.mp4') }}" muted loop autoplay></video>
        <div class="container-view">
            <div class='myform-view'>
                <h2>Order Details</h2>
                <h3>Order Id  :    {{ data[0] }}</h3>
                <h3>Customer ID  :     {{ data[2] }}</h3>
                <h3>Your Order  : {{ data[3] }}</h3>
                <h3>Price Qouted  : {{ data[4] }}</h3>
                <h3>Order accepted  : {{ data[6] }}</h3>
{%if type == 'creator'%}
{%if data[6] =='No' %}
<form action="{{ url_for('AcceptContract')}}" method="POST" id = 'form1'>
  ACCEPT THE CONTRACT ?<br>
<input type="checkbox" id="approve" name="approve" value="1"><br>
<button type="submit" form="form1" class= "btn btn-secondary" >Finalise Choice</button>
</form>
{%else%}
 You have already agreed to this contract
 {%endif%}     
{%endif%}            </div>
            <div class="image-view">
                <img src="{{ url_for('static', filename='Login.gif') }}" width=400px">
            </div>
        </div>
        </section>
        
    
</body>
</html>