<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel='stylesheet'href="{{ url_for('static', filename='style.css') }}" >
</head>
<body>
    <section class="showcase">
        <header><a  href='{{ url_for('index') }}'>
            <h2 class ="logo">DMS-Net</h2></a>
            <ul class="nav_links">
                <li><a href="#" title="">Dashboard</a></li>
                <li><a href="{{ url_for('CreateContract') }}">Place Order</a></li>
                <li><a href="#" title="">Search</a></li>
                <li><a href="#" title="">Chat</a></li>
                <li><a href="#" title="">My Profile</a></li>
            </ul>
        </header>
        <div class="overlay"></div>
        <video src={{ url_for('static', filename='BGVID.mp4') }} muted loop autoplay></video>
    <div class="container-order">
        <div class='myform-order'>
            <form>
                <h2>Place an Order </h2>
                <input type='text' placeholder="Your ID">
                <input type='text' placeholder="Merchant ID">
                <input type='text' placeholder="Your Order">
                <input type='text' placeholder="Price Qouted">
                <input type='password' placeholder='Your Password to Authorise'>
                <button type='submit'>Place Order</button>

            </form>
        </div>
        <div class="image-order">
            <img src={{ url_for('static', filename='Login.gif') }} width=400px">
        </div>
    </div>
    </section>
    
</body>
</html>