<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/DevfestHCK21-DMSnet/static/style.css">
</head>
<body>
    <section class="showcase">
        <header>
            <h2 class ="logo-dash">DMS-Net</h2>
            <ul class="nav_links">
                <li><a href="dashboard.html" title="">Dashboard</a></li>
                <li><a href="#" title="">My Profile</a></li>
                <li><a href="#" title="">Logout</a></li>
            </ul>
        </header>
        <div class="overlay"></div>
        <video src="/DevfestHCK21-DMSnet/static/BGVID.mp4" muted loop autoplay></video>
        <div class="sidebar">
            <div class="spacer"></div>
            <ul>
                <li><a href="#">Place Order</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Chat</a></li>
            </ul>
        </div>
        <div class="dashboard">
            <table>
                <tr>
                    <th>Order ID</th>
                    <th>Manufacturer Name</th>
                    <th>Manufacturer ID</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>View Details</th>
                </tr></br>
                <tr>
                    <td>001</td>
                    <td>Yash</td>
                    <td>1234</td>
                    <td>15-08-21</td>
                    <td>Approved</td>
                    <td>View Details</td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>