<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <style>
body{
  background-image: url("{{ url_for('static', filename='BG.jpeg') }}");
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid white blur(10px);
  backdrop-filter: blur(50px);
  background-clip: border-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  
}
.rco{
  border: 2px;
  border-radius:8px;
}
.card-small {
     width:300px;
    }

  </style>

  <body class = "">
        <header>
            <h2 class ="logo">DMS-Net</h2>
            <ul class="nav_links">
                <li><a href="#" title="">Dashboard</a></li>
                <li><a href="CreateContract1.html" title="">Place Order</a></li>
                <li><a href="#" title="">Search</a></li>
                <li><a href="#" title="">Chat</a></li>
                <li><a href="#" title="">My Profile</a></li>
            </ul>
        </header>
  <br>
  </br>
  <br></br>



 <div >
      <div class="col s3 m6 l6">
              <div class="card card-small">
                        
 {% for card in data %} 

<div class="container-cards">
<div class="card-image">
          <img src="C:/Users/SoI/Desktop/DMS-Net/website/static/factory.png">
          <span class="card-title">Factory name</span>
        </div>
        <div class="card-content">
          <p>card</p>
        </div>
        <div class="card-action">
          <a href="#">chat</a>
          <a href="#">meh</a>
          </div>
</div>
          <br>
          <br>







<br>
{% endfor %}
        
        </div>
        </div>
      </div>

  </body>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>