<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <section class="showcase">
        <header>
            <h2 class ="logo">DMS-Net</h2>
            <ul class="nav_links">
                <li><a href="#" title="">Dashboard</a></li>
                <li><a href="{{url_for('profile') }}" title="">My Profile</a></li>
                <li><a href="#"  title="">Logout</a></li>
            </ul>
        </header>

        <div class="overlay"></div>
        <video src="{{ url_for('static', filename='BGVID.mp4') }}" muted loop autoplay></video>
        <div class="sidebar">
            <div class="spacer"></div>
            <ul >
                <li><h4>Hello,Creator</h4></li>
                <li><a href = "#">Place Order</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Chat</a></li>
            </ul>
        </div>
        <div class="container-profile">
            <div class='myform-profile'>
                <form action="{{ url_for('login') }}" method="POST" id='form1'>
                    <h2> Your Profile </h2>
                    <input required autocomplete='off' type='text' placeholder="Profile[1]" value="{{profile[1][1]}}" >
                    <input required autocomplete='off' type='text' placeholder='profile[2]' value="{{profile[1][2]}}">
                    <input required autocomplete='off' type='text' placeholder='profile[3]' value="{{profile[1][3]}}">
                    <button type='submit'>Save Changes</button>

                </form>
            </div>
        <div class="image">
            <img src="{{ url_for('static', filename='Profile_pic1.jpg') }}" width=360px>
        </div>
        </div>

        <div class="profile-cont">
            <div class="cardy-profile">
                <img src="{{ url_for('static', filename='Profile_pic1.jpg') }}" alt="" class="image" />
                <div class="content">
                    <h4>{{profile[1][1]}}</h4>
                    <h5>{{profile[1][2]}}</h5>
                    <p>
                        {{profile[1][3]}} 
                    </p>
                    <div class="link">
                    <div class="btny-profile"><a href = '#'>Order</a></div>
                        <div class="btny-profile"><a href="#">CHAT</a></div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>