<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body class = "blue-grey lighten-5">
  <nav class = "teal lighten-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Dashboard</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#" class = "btn waves-effect teal">Home</a></li>
        <li><a href="/logout" class = "btn waves-effect teal">Logout</a></li>
      </ul>
    </div>
  </nav>
  <br>
  </br> 
  <div class = "z-depth-1 container blue-grey lighten-5" >
    <table >
      <thead>
        <tr>
          <th>Contract started by</th>
          <th>Manifacturer</th>
          <th>Date</th>
          <th>Accepted</th>
          <th>Contract link</th>
        </tr>
      </thead>

      <tbody class = "data_entry">
        <tr>
          <td>chocolate</td>
          <td>nestle</td>
          <td>02/02/2021</td>
          <td>accepted</td>
          <td>link</td>
        </tr>

      </tbody>
    </table>
    </div>
  </body>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>