<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMS-Net</title>
    <link rel='stylesheet' href="style.css" >
</head>
<body>
    <section class="showcase">
        <header>
            <h2 class ="logo">DMS-Net</h2>
            <ul class="nav_links">
                <li><a href="index.html" title="">Home</a></li>
                <li><a href="login1.html" title="">Login</a></li>
                <li><a href="sign_up1.html" title="">Create Account</a></li>
                <li><a href="#" title="">About</a></li>
                <li><a href="mailto:#0">Contact</a></li>
            </ul>
        </header>
        <div class="overlay"></div>
        <video src="production ID_4440813.mp4" muted loop autoplay></video>
    <div class="container">
        <div class='myform'>
            <form>
                <h2> Login </h2>
                <input type='text' placeholder="Username">
                <input type='password' placeholder='Password'>
                <button type='submit'>Login</button>

            </form>
        </div>
        <div class="image">
            <img src="Login into a world of ease.gif" width=400px">
        </div>
    </div>
    </section>
</body>
</html>