<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMS-Net</title>
    <link rel='stylesheet' href="style.css" >
</head>
<body>
    <section class="showcase">
        <header>
            <h2 class ="logo">DMS-Net</h2>
            <ul class="nav_links">
                <li><a href="index.html" title="">Home</a></li>
                <li><a href="login1.html" title="">Login</a></li>
                <li><a href="sign_up1.html" title="">Create Account</a></li>
                <li><a href="#" title="">About</a></li>
                <li><a href="mailto:#0">Contact</a></li>
            </ul>
        </header>
        <div class="overlay"></div>
        <video src="production ID_4440813.mp4" muted loop autoplay></video>
    <div class="container-sign">
        <div class="image-sign">
            <img src="Join a World where business is easy.gif" width="400px">
        </div>
        <div class='myform-sign'>
            <form>
                <h2>Create Account</h2>
                <input type='text' placeholder="Email Address">
                <input type='text' placeholder="First Name">
                <input type='text' placeholder="First Name">
                <input type='password' placeholder='Password'>
                <input type='password' placeholder='Re-Enter Password'>
                <button type='submit' id="signup">Create Account</button>

            </form>
        </div>


    </div>
    </section>
</body>
</html>